.project-card {
  padding: 1.25rem 0.625rem;
  margin: 0.25rem 1.25rem;
  border: 1px solid #aa2010;
  border-radius: 0.5rem;
  box-shadow: 0.625rem 0.625rem 0.625rem #aa2010;
}

.project-card:hover {
  box-shadow: 0.625rem 0.625rem 0.625rem #f50000;
  color: azure;
}

.project-github,
.project-site {
  border: 2px solid #aa2010;
  border-radius: 0.25rem;
  color: azure;
  padding: 0.625rem 1.25rem;
}

.project-github:hover,
.project-site:hover {
  background-image: linear-gradient(to bottom left, #c90101 0%, #000000 75%);
}